.about-hero {
  position: relative;
  min-height: $hero-img-height;
  @media (max-width: 640px) {
    min-height: auto;
  }
}

.about-content {
  position: relative;
  overflow: hidden;
  &__top {
    background-color: $white;
    padding-top: 4rem;
    padding-top: clamp(1rem, 5vw, 4rem);
    padding-bottom: 8rem;
    padding-bottom: clamp(2rem, 10vw, 8rem);
    &-wrapper {
      display: flex;
      justify-content: space-between;
      gap: 1rem;
    }
    &-text,
    &-decor {
      flex: 1;
    }
    &-decor {
      position: relative;
      height: 100%;
      @media (max-width: 640px) {
        display: none;
      }
    }
    &-title {
      margin-bottom: 2rem;
      margin-bottom: clamp(1rem, 2.5vw, 2rem);
      padding-bottom: 1rem;
      padding-bottom: clamp(0.5rem, 1.25vw, 1rem);
      @include border-bottom;
    }
    &-descr {
      @include main-text;
      padding-top: 1rem;
      padding-top: clamp(0.1rem, 1vw, 2rem);
      max-width: 90vw;
      & > * {
        @include main-text;
      }
      & > p {
        padding-bottom: 0.5rem;
      }
    }
    $img-max-width: calc(506px * 0.8);
    $img-max-height: calc(759px * 0.8);
    &-img,
    &-bg {
      position: absolute;
      top: 0;
      left: 25%;
      width: clamp(48%, 24vw, $img-max-width);
      height: clamp(48%, 36vw, $img-max-height);
    }
    &-bg {
      border-radius: 0 0 300px 300px;
      object-fit: cover;
    }
  }
  &__bottom {
    padding-top: 3rem;
    padding-top: clamp(1rem, 5vw, 3rem);
    padding-bottom: 4rem;
    padding-bottom: clamp(1rem, 5vw, 4rem);
    &-wrapper {
      display: flex;
      justify-content: space-between;
      gap: 1rem;
      margin-top: 2.5rem;
      margin-top: clamp(1rem, 5vw, 2.5rem);
    }
    &-title {
      margin-bottom: 1.125rem;
      text-align: left;
      padding-bottom: 1rem;
      margin-bottom: 2rem;
      @include border-bottom;
      @media (max-width: 640px) {
        text-align: left;
      }
    }
    &-descr {
      @include main-text;
    }
    &-list {
      columns: 2;
      gap: 1.5rem;
      max-width: 90vw;
      @media (max-width: 640px) {
        columns: 1;
      }
    }
    $scale: 0.7;
    &-item {
      opacity: 0;
      $padding-left-max: 4rem;
      position: relative;
      padding-left: calc($padding-left-max * $scale);
      padding-left: clamp(calc($padding-left-max * $scale), 10vw, 4rem);
      margin-bottom: 2rem;
      break-inside: avoid;
      &::before {
        content: "";
        position: absolute;
        left: calc(clamp(3rem, 10vw, $padding-left-max) / 2);
        transform: translateX(-50%);
        top: 0;
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
    &-item:nth-child(1)::before,
    &-item:nth-child(2)::before {
      background-image: url(../images/about-bottom-list-icon-1.svg);
      width: 43px;
      width: calc(clamp(28px, 7.5vw, 43px) * $scale);
      height: 62px;
      height: calc(clamp(42px, 11vw, 62px) * $scale);
    }
    &-item:nth-child(3)::before {
      background-image: url(../images/about-bottom-list-icon-3.svg);
      width: 55px;
      width: calc(clamp(36px, 9vw, 55px) * $scale);
      height: 47px;
      height: calc(clamp(31px, 8vw, 47px) * $scale);
    }
    &-item:nth-child(4)::before {
      background-image: url(../images/about-bottom-list-icon-4.svg);
      width: 50px;
      width: calc(clamp(33px, 6vw, 50px) * $scale);
      height: 69px;
      height: calc(clamp(46px, 12vw, 69px) * $scale);
    }
    &-item:nth-child(5)::before {
      background-image: url(../images/about-bottom-list-icon-5.svg);
      width: 56px;
      width: calc(clamp(37px, 9.5vw, 56px) * $scale);
      height: 56px;
      height: calc(clamp(37px, 9.5vw, 56px) * $scale);
    }
    &-item:nth-child(6)::before {
      background-image: url(../images/about-bottom-list-icon-6.svg);
      width: 65px;
      width: calc(clamp(43px, 11.5vw, 65px) * $scale);
      height: 65px;
      height: calc(clamp(43px, 11.5vw, 65px) * $scale);
    }
    &-item:nth-child(7)::before {
      background-image: url(../images/about-bottom-list-icon-7.svg);
      width: 58px;
      width: calc(clamp(38px, 10vw, 58px) * $scale);
      height: 40px;
      height: calc(clamp(26px, 7vw, 40px) * $scale);
    }
    &-item:nth-child(8)::before {
      background-image: url(../images/about-bottom-list-icon-8.svg);
      width: 45px;
      width: calc(clamp(30px, 8vw, 45px) * $scale);
      height: 55px;
      height: calc(clamp(37px, 9.5vw, 55px) * $scale);
    }
    &-item:nth-child(8) {
      line-height: 2.3rem;
    }
  }
}

.reviews {
  padding-top: 2rem;
  padding-top: clamp(1rem, 2.5vw, 2rem);
  padding-bottom: 4rem;
  padding-bottom: clamp(1rem, 5.5vw, 4rem);
  position: relative;
  background-color: $white;
  &__title {
    padding-bottom: 1rem;
    @include border-bottom;
    margin-bottom: 2rem;
    margin-bottom: clamp(1rem, 5vw, 2rem);
  }
  &-swiper {
    @media (max-width: 640px) {
      width: 70vw;
    }
    &__button {
      top: 55%;
      $button-padding: clamp(1rem, 6vw, 10rem);
      @media (max-width: 640px) {
        top: 39%;
      }
      &-prev {
        left: $button-padding;
        @media (max-width: 640px) {
          left: 0.5rem;
        }
      }
      &-next {
        right: $button-padding;
        @media (max-width: 640px) {
          right: 0.5rem;
        }
      }
    }
  }
  &-slide {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    gap: clamp(1rem, 3.75vw, 3rem);
    &__title-wrapper,
    &__content-wrapper {
      flex: 1 1 calc(50% - 1.5rem);
    }
    &__title {
      &-wrapper {
        min-width: 250px;
      }
      &-img {
        width: clamp(200px, 100%, 656px);
        height: auto;
        border-radius: 13px;
      }
    }
    &__content {
      &-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
      }
      &-date {
        @include main-text;
      }
      &-descr {
        @include about-swiper-descr;
        color: $accent;
      }
    }
  }
}
