.practice {
  &-hero {
    position: relative;
    height: $hero-img-height;
    @media (max-width: 640px) {
      height: auto;
    }
  }
  &-filter {
    padding-top: 1rem;
    padding-bottom: 5rem;
    padding-bottom: clamp(2rem, 5vw, 5rem);
    background-color: $white;
    &__title {
      margin-bottom: 1rem;
      padding-bottom: 1rem;
      @include border-bottom;
    }
    &__list {
      columns: 2;
      column-gap: 1rem;
      @include practice-filter-list;
      @media (max-width: 640px) {
        columns: 1;
      }
    }
    &__item {
      &-wide {
        column-span: all;
      }
      &:last-child {
        border-bottom: 1px solid $accent;
      }
    }
    &__link {
      &--active {
        color: $accent;
      }
    }
  }
}

.section-case {
  background-color: $white;
}
.case {
  padding: 1.5rem;
  padding: clamp(0.75rem, 4vw, 1.5rem);
  @include border;
  border-radius: 13px;
  background-color: $light;
  &__wrapper {
    padding-bottom: 4rem;
    padding-bottom: clamp(2rem, 8vw, 4rem);
    display: flex;
    flex-direction: column;
    gap: 2.7rem;
    gap: clamp(1rem, 5vw, 2.7rem);
  }
  &__number {
    margin-bottom: 0.8rem;
    margin-bottom: clamp(0.25rem, 1vw, 0.8rem);
  }
  &__title {
    @include border-bottom;
    padding-bottom: 1rem;
    padding-bottom: clamp(0.5rem, 1vw, 1rem);
    margin-bottom: 1rem;
    margin-bottom: clamp(0.5rem, 1vw, 1rem);
    @media (max-width: 640px) {
      font-size: 29px;
      font-size: clamp(24px, 1vw, 29px);
      line-height: 100%;
      padding-bottom: 20px;
      padding-bottom: clamp(.5rem, 1vw, 1rem);
    }
  }
  &-details {
    &__content {
      padding-top: .25rem;
      display: flex;
      justify-content: space-between;
      gap: 1rem;
      &-child {
        flex: 1;
      }
      @media (max-width: 640px) {
        flex-direction: column;
      }
    }
    &__wrapper {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 1rem;
      gap: clamp(.75rem, 1vw, 1rem);
      @media (max-width: 640px) {
        @include border-bottom;
        padding-bottom: 1rem;
        padding-bottom: clamp(.5rem, 1vw, 1rem);
      }
    }
    &__description {
      &-title {
        @include case-metric-name;
        padding-bottom: 0.5rem;
        color: $accent;
        &:not(:first-child) {
          padding-top: 0.5rem;
        }
      }
      &-text {
        @include case-main;
        font-size: .8rem;
        padding-bottom: 0.5rem;
      }
    }
    &-lawyer {
      & > p {

      }
    }
  }
  &__btn {
    align-self: center;
  }
}
