.services {
  &-hero {
    position: relative;
    height: $hero-img-height;
    @media (max-width: 640px) {
      height: auto;
    }
  }
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
    @include adaptive-padding(
      3rem,
      4rem,
      calc(3vw * 24 / 19.2),
      calc(4vw * 24 / 19.2)
    );
    &-child {
      flex: 1 1 calc(50% - .5rem);
      min-width: 16.5rem;
    }
  }
  &__title {
    padding-bottom: 1.625rem;
    border-bottom: 2px solid $accent;
  }
  &-list {
    @media (max-width: 640px) {
        padding: 1rem 0;
      }
  }
}