@import "../../node_modules/reset-css/sass/_reset.scss";

@import "fonts";
@import "variables";
@import "mixins";

$header-height: 2.5rem;
$hero-img-height: 45vh;

html {
  box-sizing: border-box;
  background-color: $light;
  font-size: 24px;
  font-size: clamp(18px, 1.5vw, 24px);
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

ul {
  list-style: none;
}

button {
  border: none;
  padding: 0;
  border-radius: 0;
  cursor: pointer;
}

.container {
  max-width: calc(1200px + 2rem);
  margin: 0 auto;
  padding: 0 1rem;
  @media (max-width: 1000px) and (orientation: landscape) {
    padding: 0 2rem;
  }
}

.title {
  @include title;
  color: $dark;
}

.animate-title {
  opacity: 0;
}

.subtitle {
  @include subtitle;
}

.text {
  @include main-text;
  & > * {
    padding-bottom: 0.5rem;
  }
  ul {
    padding-left: 1rem;
    li {
      list-style-type: circle;
      &:not(:last-child) {
        padding-bottom: 0.25rem;
      }
    }
  }
}

.animate-opacity {
  opacity: 0;
}

.animate-text {
  & > p {
    opacity: 0;
  }
}

br {
  margin-bottom: 0.75rem;
}

.btn,
.btn-light {
  @include btn;
  border-radius: 13px;
  padding: 0.3rem 0.7rem;
  align-self: flex-start;
  @include border;
  transition: background 0.5s, color 0.5s;
}

.btn {
  background: $accent;
  color: $white;
  &:hover {
    background: transparent;
    color: $dark;
  }

  &-light {
    background: transparent;
    color: $dark;
    &:hover {
      background: $accent;
      color: $white;
    }
  }
}

.case-number {
  @include case-main;
}

.swiper {
  width: 80%;
  padding: 0.5rem 0;
  @media (max-width: 1000px) and (orientation: landscape) {
  }
  &__container {
    position: relative;
    @include adaptive-padding(
      3rem,
      4rem,
      calc(3vw * 24 / 19.2),
      calc(4vw * 24 / 19.2)
    );
  }
  &__title {
    position: relative;
    padding-bottom: 1rem;
    padding-bottom: clamp(0.5rem, 1.25vw, 1rem);
    margin-bottom: 1.875rem;
    margin-bottom: clamp(0.5rem, 3vw, 1.875rem);
    @include border-bottom;
  }
  &-button-prev,
  &-button-next {
    overflow: hidden;
    width: 34px;
    width: clamp(34px, 7vw, 84px);
    height: 34px;
    height: clamp(34px, 7vw, 84px);
    @include border;
    border-radius: 50%;
    position: absolute;
    top: 55%;
    transform: scale(0.8);
    z-index: 1;
    @media (max-width: 616px) {
      top: 63%;
    }
    &::after {
      content: "";
      background-image: url(../images/swiper-arrow.svg);
      background-size: contain;
      background-repeat: no-repeat;
      width: 17px;
      width: clamp(17px, 4.5vw, 34px);
      height: 8px;
      height: clamp(8px, 2vw, 16px);
    }
    transition: background 0.5s, color 0.5s, transform 0.3s;
    &:hover {
      transform: scale(1);
    }
  }
  &-button-prev {
    left: 0.5rem;
    &::after {
      transform: rotate(180deg);
    }
    @media (max-width: 1000px) and (orientation: landscape) {
      left: 2rem;
    }
  }
  &-button-next {
    right: 0.5rem;
    @media (max-width: 1000px) and (orientation: landscape) {
      right: 2rem;
    }
  }
}

.nav {
  &__link {
    display: inline-block;
    position: relative;
    line-height: 1.25rem;
    height: 1.25rem;
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      height: clamp(1px, 1vw, 2px);
      background: $accent;
      top: 100%;
      left: 0;
      pointer-events: none;
      transform-origin: 100% 50%;
      transform: scale3d(0, 1, 1);
      transition: transform 0.3s;
    }
    &:hover::before {
      transform-origin: 0% 50%;
      transform: scale3d(1, 1, 1);
    }
  }
  &__item {
    color: $light;
    @include nav;
    &-text {
      display: block;
      transition: transform 0.3s cubic-bezier(0.25, 0.74, 0.22, 0.99);
    }
    &-clone {
      position: absolute;
      top: 100%;
      left: 0;
      transition: transform 0.3s cubic-bezier(0.25, 0.74, 0.22, 0.99);
    }
  }
}

.bg-img {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  @media (max-width: 640px) {
    position: relative;
    padding-top: $header-height;
    object-position: left;
    height: auto;
    position: relative;
  }
}

.practice-list {
  position: relative;
  & > * {
    position: relative;
    padding: 0.7rem 0;
    @media (max-width: 1000px) and (orientation: landscape) {
      padding: 0.5rem 0;
    }
    &:hover {
      color: $accent;
    }
    &:not(:last-child)::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 1px;
      background-color: $accent;
    }
    &::before {
      content: "";
      width: 1.415rem;
      height: 0.675rem;
      position: absolute;
      right: 0;
      background-image: url(../images/services-arrow.svg);
      background-size: contain;
      top: 50%;
      transform: translateY(-50%);
      opacity: 0;
      transition: transform 0.3s ease-out, opacity 0.3s ease-out;
    }
    &:hover::before {
      opacity: 1;
    }
  }
  & a {
    @include services-list;
  }
}

.slide {
  background: transparent;
  color: $dark;
  @include news-swiper;
  display: flex;
  justify-content: center;
  &-wrapper {
    max-width: 350px;
    border-radius: 1rem;
    @include border;
    padding: 0.75rem;
    padding: clamp(0.75rem, 2vw, 2rem);
    padding: 1.675rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    $min-height: 280px;
    min-height: $min-height;
    min-height: clamp(220px, 20vw, $min-height);
  }
  &-date {
    @include main-text-light;
    color: $dark;
    padding-bottom: 0.8rem;
    @include border-bottom;
  }
  &-text {
    margin-top: 0.8rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    @include main-text;
  }
  &-btn {
    margin-top: auto;
    color: $light;
  }
}

.header {
  .nav {
    &__item {
      @media (max-width: 640px) {
        font-size: 1.25rem;
      }
      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4) {
        @media (max-width: 640px) {
          margin-bottom: 2rem;
        }
      }
      &-phone,
      &-mail {
        @media (max-width: 640px) {
          font-size: 0.5rem;
          position: absolute;

          left: 50%;
          transform: translateX(-50%);
        }
      }
      &-phone {
        @media (max-width: 640px) {
          bottom: 10%;
        }
      }
      &-mail {
        bottom: 5%;
      }
    }
  }
}

.logo {
  width: 4.5rem;
  height: 1.55rem;
  @media (max-width: 640px) {
    $scale: 1;
    width: calc(4.5rem * $scale);
    height: calc(1.55rem * $scale);
  }
}

.header {
  min-height: $header-height;
  background: rgba(0, 32, 31, 0.45);
  backdrop-filter: blur(0.5rem);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 12;
  display: flex;
  @media (max-width: 640px) {
    background: rgb(0, 32, 31);
  }
  &-wo-img {
    background: rgb(0, 32, 31);
  }
  &__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__nav-list {
    display: flex;
    gap: 2rem;
    gap: clamp(0.75rem, 2.5vw, 2rem);
    @media (max-width: 640px) {
      display: none;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      width: 100vw;
      height: 100dvh;
      padding-top: 8rem;
      padding-bottom: 30%;
      position: absolute;
      left: 0;
      top: 0;
      background-color: $dark;
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
      transform: translateY(-100%);
      transition: transform 0.3s ease-in-out;
      z-index: 1;
    }
    &.open {
      display: flex;
      position: fixed;
      transform: translateY(0);
      z-index: 12;
    }
  }
  &__link {
    white-space: nowrap;
    &-phone,
    &-mail {
      @media (max-width: 640px) {
        font-size: 11px;
        color: $accent;
      }
    }
    &-phone::before,
    &-mail::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
    &-phone {
      position: relative;
      padding-left: 1rem;
      &::before {
        background-image: url(../images/icon-phone.svg);
        background-size: contain;
        $size: 0.75rem;
        width: $size;
        width: clamp(0.8rem, 3vw, $size);
        height: $size;
        height: clamp(0.8rem, 3vw, $size);
      }
      &::after {
        @media (max-width: 640px) {
          content: "";
          display: block;
          position: absolute;
          height: 1px;
          width: 100vw;
          background-color: $accent;
          top: -100%;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
    &-mail {
      position: relative;
      padding-left: 1.2rem;
      &::before {
        background-image: url(../images/icon-mail.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        width: 0.975rem;
        width: clamp(0.8rem, 3vw, 0.975rem);
        height: 0.75rem;
        height: clamp(0.62rem, 3vw, 0.75rem);
      }
    }
  }
  &__language {
    &-switcher {
      display: flex;
      align-items: center;
      color: $light;
    }
    &-option {
      cursor: pointer;
      color: inherit;
      &.active {
        font-weight: 700;
      }
    }
    &-separator {
      color: inherit;
      margin: 0 6px;
    }
  }
  &__burger {
    display: none;
    width: 1.5rem;
    height: 1.5rem;
    position: relative;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 13;
    &-line {
      display: block;
      width: 100%;
      height: 3px;
      border-radius: 1px;
      background-color: $light;
      &:not(:first-child) {
        margin-top: 6px;
      }
    }
    &.open &-line:nth-child(1) {
      transform: translateY(6px) rotate(45deg);
    }
    &.open &-line:nth-child(2) {
      opacity: 0;
    }
    &.open &-line:nth-child(3) {
      transform: translateY(-12px) rotate(-45deg);
    }
  }
}

@media (max-width: 640px) {
  .header__list {
    display: none;
  }
  .header__burger {
    display: block;
  }
}

.no-scroll {
  overflow: hidden;
}

.curtain {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background-color: $dark;
  overflow: hidden;
}

.hero {
  position: relative;
  height: 90vh;
  @media (max-width: 1000px) and (orientation: landscape) {
    height: 100dvh;
  }
  overflow: hidden;
  &__bg {
    &-img {
      @media (max-width: 640px) {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &-decor {
      width: 100%;
      height: 100%;

      &-sm {
        display: none;
        @media (max-width: 640px) {
          display: block;
        }
      }
      &-lg {
        opacity: 0;
        @media (max-width: 640px) {
          display: none;
        }
      }
      &-wrapper {
        position: absolute;
        left: 12vw;
        top: 5vw;
        right: 12.5vw;
        bottom: 2vw;
        @media (max-width: 640px) {
          left: 7vw;
          top: 20vw;
          right: 7vw;
          bottom: 7vw;
        }
      }
    }
  }
  &__container {
    position: relative;
    z-index: 1;
    overflow: hidden;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: $header-height;
  }
  &__content-wrapper {
    display: flex;
    justify-content: center;
  }
  &__title {
    @include hero-title;
    min-width: 43vw;
    display: flex;
    flex-direction: column;
    &-1row {
      align-self: flex-start;
    }
    &-2row {
      align-self: center;
    }
    &-3row {
      align-self: flex-end;
      white-space: nowrap;
    }
    &-1row,
    &-2row,
    &-3row {
      margin-bottom: 1rem;
      opacity: 0;
      @media (max-width: 640px) {
        align-self: center;
      }
    }
  }
}

.index-services {
  background-color: $white;
  @include adaptive-padding(
    3rem,
    4rem,
    calc(3vw * 24 / 19.2),
    calc(4vw * 24 / 19.2)
  );
  overflow: hidden;
  @media (max-width: 1000px) and (orientation: landscape) {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
    @media (max-width: 640px) {
      gap: 2rem;
    }
  }
  &__child {
    flex: 1 1 calc(50% - 0.5rem);
    min-width: 300px;
  }
  &__practices,
  &__cases {
    &-title {
      position: relative;
      padding-bottom: 0.75rem;
      text-align: center;
      @include border-bottom;
    }
  }
  &__practices {
    &-title {
      text-align: left;
      @include border-bottom;
    }
  }
  &__cases {
    &-slide {
      width: 100%;
      height: 100%;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      &-title {
        @include cases-slide;
        color: $dark;
        margin-bottom: 2rem;
        @media (max-width: 1000px) and (orientation: landscape) {
          font-size: 2.5rem;
          margin-bottom: 1rem;
        }
      }
      &-description {
        @include cases-description;
        color: $dark;
        margin-bottom: 2rem;
        width: 65%;
        hyphens: none;
        @media (max-width: 1000px) and (orientation: landscape) {
          margin-bottom: 1rem;
        }
      }
      &-btn {
        margin-bottom: 1.5rem;
        align-self: center;
        color: $white;
      }
    }
    &-swiper {
      position: relative;
      padding-top: 1rem;
      overflow: hidden;
    }
    &-pagination {
      position: relative;
      & > .swiper-pagination-bullet {
        width: 0.675rem;
        height: 0.675rem;
        margin: 0 9px !important;
        background-color: $accent;
      }
      & > .swiper-pagination-bullet-active {
        background-color: $dark;
      }
    }
  }
  &__list {
    margin-top: 0.8rem;
  }
}

.news {
  background-color: $light;
  &__container {
    @media (max-width: 1000px) and (orientation: landscape) {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  }
  &__swiper-button-prev,
  &__swiper-button-next {
    top: 55%;
  }
}

.recommendations {
  padding-top: 2.2rem;
  padding-top: clamp(1rem, 3vw, 2.2rem);
  padding-bottom: 5rem;
  padding-bottom: clamp(1rem, 7vw, 5rem);
  background-color: $accent;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  &__container {
    width: 100%;
    text-align: center;
    z-index: 1;
    overflow: hidden;
  }
  &__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    object-fit: cover;
    @media (max-width: 640px) {
      width: auto;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &__title {
    color: $light;
    margin-bottom: 3rem;
    margin-bottom: clamp(1rem, 4vw, 3rem);
    font-size: clamp(1rem, 2.5vw, 2rem);
  }
  $gap: 1rem;
  &__content {
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: $gap;
  }
  &-slide {
    flex: 1 1 calc(20% - $gap);
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 640px) {
      flex: 1 1 calc(50% - $gap);
    }
    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5) {
      @media (max-width: 640px) {
        flex: 1 1 calc(30% - $gap);
      }
    }
  }
  &__logo {
    max-width: 100%;
    height: auto;
    max-height: 4rem;
  }
}

.footer {
  background-color: $dark;
  overflow: hidden;
  &__container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  &__top {
    display: flex;
    align-items: center;
    height: 50%;
    max-width: 100vw;
    padding-top: 2rem;
    padding-top: clamp(1rem, 2.5vw, 2rem);
    padding-bottom: 2rem;
    padding-bottom: clamp(1rem, 2.5vw, 2rem);
    position: relative;
    gap: 4rem;
    gap: clamp(1rem, 2vw, 4rem);
    &::after {
      content: "";
      width: 100vw;
      border-bottom: 2px solid $accent;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    @media (max-width: 888px) {
      flex-direction: column;
      gap: 0.25rem;
    }
    @media (max-width: 640px) {
      flex-direction: row-reverse;
      align-items: stretch;
    }
  }
  &__nav {
    flex: 1;
    display: flex;
    align-items: center;
    @media (max-width: 888px) {
      width: 80%;
    }
  }
  &__list {
    margin-left: 0.5rem;
    margin-left: clamp(0px, 3vw, 1.5rem);
    margin-right: 0.5rem;
    margin-right: clamp(0px, 3vw, 1.5rem);
    display: flex;
    justify-content: space-between;
    width: 100%;
    @media (max-width: 640px) {
      height: 100%;
      flex: 1;
      min-width: 25vw;
      flex-direction: column;
      text-align: left;
      align-self: flex-start;
      gap: 0.5rem;
    }
    &-item {
      @media (max-width: 640px) {
        line-height: 100%;
      }
    }
  }
  &__contacts {
    flex: 0;
    display: flex;
    position: relative;
    gap: 0.5rem;
    gap: clamp(0.5rem, 1vw, 0.8rem);
    white-space: nowrap;
    @media (max-width: 640px) {
      gap: auto;
      flex: 2 1 25vw;
      margin-right: 1rem;
      flex-direction: column;
      justify-content: space-around;
      white-space: normal;
    }
    &-item {
      @media (max-width: 640px) {
        line-height: 130%;
      }
    }
    &-phone,
    &-mail,
    &-location {
      position: relative;
      padding-left: 1.2rem;
      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    &-phone {
      &::before {
        background-image: url(../images/icon-phone.svg);
        background-size: contain;
        background-repeat: no-repeat;
        $size: 0.8rem;
        width: $size;
        height: $size;
      }
    }
    &-mail {
      &::before {
        background-image: url(../images/icon-mail.svg);
        background-size: contain;
        background-repeat: no-repeat;
        width: 1rem;
        height: 0.8rem;
      }
    }
    &-location {
      &::before {
        background-image: url(../images/icon-location.svg);
        background-size: contain;
        background-repeat: no-repeat;
        width: 0.75rem;
        height: 1rem;
      }
    }
  }
  &__bottom {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
  }
  &__decor {
    height: calc(6.5rem + 2px);
    transform: translateY(-2px);
    @media (max-width: 640px) {
      width: 30%;
      display: none;
    }
  }
  &__credits {
    color: $accent;
    text-align: center;
    @include credits;
    @media (max-width: 640px) {
      padding: 0.5rem 0;
      font-size: 11px;
    }
  }
}
